/*
Really basic CSS styles by a developer who is way out of practice with CSS :)
*/

body {
    background-color: #999;
    font-family: Arial, sans-serif;
}

h1 {
    font-size: 28px;
    font-weight: bold;
    color: #0E3E8C;
    margin: 10px 0 20px 0;
    padding-bottom: 4px;
    border-bottom: 2px solid #009;
}

h2 {
    font-size: 20px;
    font-weight: bold;
    color: #AB5E07;
    margin: 20px 0 10px 0;
}

p {
    margin: 10px 0;
    line-height: 1.3;
}

p.note {
    color: red;
}

strong {
    font-weight: bold;
}

ul {
    margin: 8px;
}

ul li {
    line-height: 1.6;
}

form ul li {
    margin: 15px 0;
}

table tr td {
    padding: 10px;
    border: 1px solid #999;
}

label {
    font-weight: bold;
    margin-right: 20px;
    vertical-align: top;
}

#contents {
    margin: 20px auto;
    padding: 12px;
    width: 960px;
    border: 1px solid #333;
    background: white;
}